<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.went.core.erabatis.mapper.MysqlMapper">

<!--    <sql id="solveWhereCondition">
        <where>
            <foreach collection="translator.translate(where)" item="i">
                <choose>
                    <when test="i instanceof com.bcx.pcentercore.morebatis.cctv1.SqlSegment">
                        ${@com.bcx.pcentercore.utils.UtilsTool@camelToUnderline(i.segment)}
                    </when>
                    <when test="i instanceof java.util.Collection">
                        <foreach collection="i" separator="," item="item" open="(" close=")">
                            #{item}
                        </foreach>
                    </when>
                    <when test="i instanceof com.bcx.pcentercore.morebatis.phantom.AliasedColumn">
                        &lt;!&ndash;这个地方以后要把column解析搬走&ndash;&gt;
                        ${@com.bcx.pcentercore.utils.UtilsTool@camelToUnderline(i.fieldSource)}
                    </when>
                    <otherwise>#{i}</otherwise>
                </choose>
            </foreach>
        </where>
    </sql>-->

    <select id="plainSelect" resultType="hashmap">
        <foreach collection="list" item="i">
            <choose>
                <!--<when test="i instanceof com.went.core.erabatis.center.SqlSegment">${@com.went.core.utils.UtilsTool@camelToUnderline(i.segment)}</when>-->
                <when test="i instanceof com.went.core.erabatis.center.SqlSegment">${i.segment}</when>
                <when test="i instanceof java.util.Collection">
                    <foreach collection="i" separator="," item="item" open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>#{i}</otherwise>
            </choose>
        </foreach>
    </select>

    <delete id="plainDelete">
        <foreach collection="list" item="i">
            <choose>
                <!--<when test="i instanceof com.bcx.pcentercore.morebatis.cctv1.SqlSegment">${@com.bcx.pcentercore.utils.UtilsTool@camelToUnderline(i.segment)}</when>-->
                <when test="i instanceof com.went.core.erabatis.center.SqlSegment">#{i}</when>
                <when test="i instanceof java.util.Collection">
                    <foreach collection="i" separator="," item="item" open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>#{i}</otherwise>
            </choose>
        </foreach>
    </delete>

    <update id="plainUpdate">
        <foreach collection="list" item="i">
            <choose>
                <!--<when test="i instanceof com.bcx.pcentercore.morebatis.cctv1.SqlSegment">${@com.bcx.pcentercore.utils.UtilsTool@camelToUnderline(i.segment)}</when>-->
                <when test="i instanceof com.went.core.erabatis.center.SqlSegment">${i.segment}</when>
                <when test="i instanceof java.util.Collection">
                    <foreach collection="i" separator="," item="item" open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>#{i}</otherwise>
            </choose>
        </foreach>
    </update>

    <insert id="plainInsert">
        <foreach collection="list" item="i">
            <choose>
                <!--<when test="i instanceof com.bcx.pcentercore.morebatis.cctv1.SqlSegment">${@com.bcx.pcentercore.utils.UtilsTool@camelToUnderline(i.segment)}</when>-->
                <when test="i instanceof com.went.core.erabatis.center.SqlSegment">${i.segment}</when>
                <when test="i instanceof java.util.Collection">
                    <foreach collection="i" separator="," item="item" open="(" close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>#{i}</otherwise>
            </choose>
        </foreach>
    </insert>
</mapper>